<nav class="navbar navbar-expand-lg bg-dark" color-on-scroll="100">
    <div class="container">
          <div class="navbar-translate">
              <a class="navbar-brand" routerLink="/"> TeacherApp</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
              </button>
          </div>

          <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">account_circle</i>
                            Cuenta
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <h6 class="dropdown-header">{{userService.getUser().name}}</h6>
                          <a class="dropdown-item" routerLink="/configuration"><i class="fas fa-cog icon-margin"></i> <span class="text-center">Configuracion</span></a>
                          <div class="dropdown-divider"></div>
                          <a routerLink="/" class="dropdown-item" (click)="CloseSession()"><i class="fas fa-sign-out-alt icon-margin"></i>Cerrar sesión</a>
                        </div>
                    </li>
                </ul>
          </div>
    </div>
</nav>
