<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 card" >
            <div class="align-self-center fileinput fileinput-new text-center">
                <div class="fileinput-new thumbnail mt-3">
                    <img src="{{ userService.UrlImage(user.img_url) }}" class="img-raised rounded img-fluid" id="img-profile" alt="LA IMAGEN  NO FUE ENCONTRADA">
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
                <div class="btn_file_cursor">
                      <form [formGroup]="formPhoto" enctype="multipart/form-data">
                          <span class="btn btn-raised btn-round btn-success btn-file btn-sm">
                              <span class="fileinput-new">Select image</span>
                              <span class="fileinput-exists">Change</span>
                              <input type="file" (change)="UploadPhoto($event)" name="photo" accept="image/x-png,image/gif,image/jpeg" formControlName="photo"/>
                          </span>
                      </form>
                </div>
            </div>
            <div class="">
                <div class="col-md-8 offset-md-2">
                    <div class="">
                      <label class="title">Nombre: </label>
                      <span class="ml-2"> {{ user.name }}</span>
                    </div>
                </div>
                <div class="col-md-8 offset-md-2">
                  <div class="">
                    <label class="title">Correo: </label>
                    <span class="ml-2"> {{ user.email }} </span>
                  </div>
                </div>
                <div class="col-md-8 offset-md-2">
                    <form [formGroup]="form" (ngSubmit)="sendRequest()">
                        <div class="form-group has-success">
                            <input type="password" class="form-control" id="pass1" placeholder="Cambiar contraseña" formControlName="pass">
                        </div>
                        <div class="form-group has-success">
                          <input type="password" class="form-control" id="pass2" placeholder="Repetir contraseña" formControlName="pass2">
                        </div>
                        <button class="btn btn-success btn-round btn-sm" type="submit" [disabled]="form.invalid || form.value.pass != form.value.pass2">
                            Cambiar
                        </button>
                    </form>
                      <div *ngIf="request" class="alert alert-info margin-top">
                        <div class="container">
                          <div class="alert-icon"><i class="fas fa-exclamation-circle"></i></div>
                          <span id="text-alert">{{request.message}}</span>
                        </div>
                      </div>
                </div>
            </div>
            <div class="card-footer align-self-center">
              <app-loading></app-loading>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
