<app-loading></app-loading>
<div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
  <div class="card card-plain" *ngFor="let activity of activities">
    <div class="card-header p-3"  role="tab" id="heading{{ activity.code }}">
      <a data-toggle="collapse" (click)="ShowActivity(activity)" data-parent="#accordion" href="#{{ activity.code }}" aria-expanded="false">
        {{ activity.title }}
        <i class="material-icons">keyboard_arrow_down</i>
      </a>
    </div>
    <div id="{{ activity.code }}" class="card-body" role="tabpanel" *ngIf="activity.show">
      <div class="chat" #chat [scrollTop]="chat.scrollHeight">
          <div class="media" *ngFor="let comment of activity.comments">
            <a class="float-left">
              <div class="avatar">
                <img class="media-object" alt="64x64" src="{{ userService.UrlImage(comment.user.img_url) }}">
              </div>
            </a>
            <div class="media-body">
              <h6 class="media media-heading">{{ comment.user.name }} <span class="text-muted ml-3">{{ comment.data.date | date: "hh:mm:ss - dd/MM/yy" }}</span></h6>
              <p class="text-dark">
                {{ comment.data.message }}
              </p>
              <hr>
            </div>
          </div>
      </div>
      <div class="row p-3">
        <div class="col-md-10 offset-md-1">
            <textarea class="form-control" [(ngModel)]="activity.message" placeholder="Ingresa tu mensaje"></textarea>

        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-fab btn-round btn-info" [disabled]="!(''!==activity.message)" (click)="SendMessage(activity)" >
            <i class="material-icons">send</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


