.assisted
{
  border: #4caf50 1px solid;
  -webkit-box-shadow: 5px 10px 26px -10px rgba(76,175,80,1);
  -moz-box-shadow: 5px 10px 26px -10px rgba(76,175,80,1);
  box-shadow: 5px 10px 26px -10px rgba(76,175,80,1);
}
